.sea {
  background: linear-gradient(
      rgba(255, 255, 255, 0.1),
      rgba(255, 255, 255, 0.1)
    ),
    url("/src/assets/sea.jpg");
    background-size: cover;
    backdrop-filter: brightness(0.5);
}
